

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex; /* 使用 Flexbox */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100%; /* 让 body 的高度为视口高度 */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    width: 50vw;
}

h1 {
    color: #007BFF;
    text-align: center;
    margin: 10px 0;
}

button {
    margin: 20px 0; /* 增加按钮的上下间距 */
}

input[type="file"] {
    margin-bottom: 20px; /* 确保文件选择框和按钮之间有足够间距 */
    display: block; /* 确保输入框单独占据一行 */
}

video {
    max-width: 100%;
    display: block;
    position: relative; /* 使内部元素能够相对于此元素定位 */
    z-index: 1; /* 设置视频层在进度条之上 */
}

button, input[type="file"] {

    display: flex; /* 按钮和输入框占据一整行 */
    margin: 20px auto; /* 上下间距 */
    padding: 10px;
    font-size: 16px;
    width: 100%; /* 自适应宽度 */
    max-width: 200px; /* 最大宽度限制 */
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex-direction: column;
    align-items: center;
    align-items: center;
}

.upload-btn {
    display: inline-block;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    justify-content: center; /* 水平居中 */
    pointer-events: none;
}

button:hover {
    background-color: #0056b3; /* 悬停效果 */
}

#outputVideo {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border: 2px solid #007BFF;
    border-radius: 5px;
    z-index: 2; /* 设置进度条层在视频之下 */
}

progress {
    display: block;
    margin: 20px auto;
    width: 100%;
    appearance: none;
    background-color: #f4f4f4; /* 背景色 */
    position: relative;
}

progress::-webkit-progress-bar {
    background: #f4f4f4; /* 背景颜色 */
}

progress::-webkit-progress-value {
    background: linear-gradient(to right, rgba(0, 255, 0, 0.5), rgba(0, 128, 0, 1)); /* 渐变色 */
}

progress::-moz-progress-bar {
    background: linear-gradient(to right, rgba(0, 255, 0, 0.5), rgba(0, 128, 0, 1)); /* 渐变色 */
}

.video_frame {
    position: relative; /* 视频容器相对定位 */
    padding-top: 20px;
    width: 50vw;
    aspect-ratio: 16 / 10;
}


.crop-options{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.crop-box {
    /* position: absolute; 裁剪框绝对定位在视频上 */
    border: 2px dashed #007BFF;
    cursor: move;
    resize: both;
    z-index: 1; /* 设置裁剪框层在视频层之上 */
}

.crop-options.custom-buttons .aspect-16-10,
.crop-options.custom-buttons .aspect-10-16,
.crop-options.custom-buttons .aspect-16-9,
.crop-options.custom-buttons .aspect-9-16,
.crop-options.custom-buttons .aspect-4-3,
.crop-options.custom-buttons .aspect-3-4,
.crop-options.custom-buttons .aspect-1-1,
.crop-options.custom-buttons .aspect-自由裁剪 {
    position: relative;
    display: inline-block;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* 特定于该类的伪元素样式 */
.crop-options.custom-buttons button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #ccc;
    z-index: -1;
}

/* 根据不同的宽高比设置伪元素的尺寸 */
.crop-options.custom-buttons .aspect-16-10::before {
    padding-bottom: 62.5%; /* 400 / 640 */
}

.crop-options.custom-buttons .aspect-10-16::before {
    padding-bottom: 160%; /* 640 / 400 */
}

.crop-options.custom-buttons .aspect-16-9::before {
    padding-bottom: 56.25%; /* 360 / 640 */
}

.crop-options.custom-buttons .aspect-9-16::before {
    padding-bottom: 177.78%; /* 640 / 360 */
}

.crop-options.custom-buttons .aspect-4-3::before {
    padding-bottom: 75%; /* 480 / 640 */
}

.crop-options.custom-buttons .aspect-3-4::before {
    padding-bottom: 133.33%; /* 640 / 480 */
}

.crop-options.custom-buttons .aspect-1-1::before {
    padding-bottom: 100%; /* 480 / 480 */
}

/* 自由裁剪按钮的样式 */
.crop-options.custom-buttons .aspect-自由裁剪::before {
    padding-bottom: 100%; /* 默认比例 */
    background-color: #eee;
}

.video-player {
    display: inline;
    max-width: 100%;
    height: auto;
    
}

.progress_text{
    display: flex;
    justify-content: flex-start;
}